<div class="page-header">
    <h1>{{user.PRENOM}} {{user.NOM}} </h1>
</div>
<div class="liste">

    <div class="well span4">
        <fieldset>
            <legend>Choix des affinités voules</legend>
            <label class="checkbox">
                <input type="checkbox" ng-model="ville" ng-change="changeData()"> Par ville.
            </label>
            <label>Like en commun
                <select ng-model="like" ng-change="changeData()" class="input-mini">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </label>
            <label>Hate en commun
                <select ng-model="hate" ng-change="changeData()" class="input-mini">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                </select>
            </label>
        </fieldset>
    </div>

    <div class="span12">

        <h3>Voici les geeks compatibles</h3>
        <table class="table table-striped">
            <tr>
                <th>Gravatar</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Ville</th>
                <th>Likes</th>
                <th>Hates</th>
            </tr>
            <tr ng-repeat="participant in relations">
                <td><img width="32" height="32" src="{{participant.gravatar}}"/></td>
                <td>{{participant.PRENOM}} {{participant.NOM}}</td>
                <td>{{participant.EMAIL}}</td>
                <td>{{participant.VILLE}}</td>
                <td>
                    <ul ng-repeat="like in participant.likes">
                        <li>{{like}}</li>
                    </ul>
                </td>
                <td>
                    <ul ng-repeat="hate in participant.hates">
                        <li>{{hate}}</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>